name: ci

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
    paths-ignore:
      - "docs/**"

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: jdx/mise-action@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - run: just ci
